<!--  -->
<%- include('Layouts/header.ejs') %>

<!--  -->
<% if(admission_enquiry_sent.length!=0) { %>
  <template id="addmissionEnquiryFilledAlert">
  <!--  -->
  <swal-title>
      <%= admission_enquiry_sent %>
  </swal-title>
  <!--  -->
  <swal-icon type="success"></swal-icon>
  <!--  -->
  <swal-button type="confirm">
      Ok
  </swal-button>
  <!--  -->
  <swal-param name="allowEscapeKey" value="false" />
  <!--  -->
  <swal-param
      name="customClass"
      value='{ "popup": "my-popup" }' />
  </template>
<% } %>

<!--  -->
<section style="background-image: url('/static/images/admissionBackgroundImage.webp');" id="admissionBackgroundImage">
    <div>
      <h2 style="background-color: rgba(0, 0, 0, 0.5); font-family: Bubblegum Sans, sans-serif; width: fit-content;" class="font-bold mx-auto px-3 py-1 text-white rounded-full text-[30px] md:text-[40px] lg:text-[50px]">Admission</h2>
    </div>
  </section>

  <!--  -->
  <section id="admission" class='py-10 flex flex-col px-6 items-center md:px-10 lg:px-16 xl:px-20 lg:flex-row lg:my-8'>
    <div class='text-sm text-slate-500 text-justify sm:text-base md:text-base lg:text-lg'>
      <div>
        Thank you for your interest in Ping Pong Learning Centre ! We are a learning environment where children and adults partner to construct meaning and explore the possibilities. Instilling a love for school and learning is at the heart of Ping Pong Learning Centre. 
      <div class="mt-3">
        Our admission process is simple and easy to follow. We encourage you to visit our centre in person by taking a prior appointment to experience our facilities and our many offerings.
      </div>
      <div class="mt-3">
        <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg font-bold sm:text-xl md:text-2xl text-left lg:text-2xl '>
          Eligibility Criteria
        </h2>
        <div class="mt-1">
          Admissions to a particular grade are determined by age as of June 1 in the academic year of entry. A difference of + or – 2 months may be considered under exceptional circumstances. For detailed information about the suitable grade placement for your child, talk to a member from our Admissions Team in person.
        </div>
        <div class="mt-2">
          The table below provides a glance of entry age for the various sections with a minimum age. However, note that this table is only approximate, and the exact and final decision of Grade Placement will be made by the school based on an interaction with the parent and child.
        </div>
        <div class="flex flex-col">
          <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full">
                  <thead class="border-b">
                    <tr>
                      <th style="color: #ff236c;" scope="col" class="text-[15px] lg:text-base font-bold px-6 py-4 text-left">
                        Entry Grade
                      </th>
                      <th style="color: #ff236c;" scope="col" class="text-[15px] lg:text-base font-bold px-6 py-4 text-left">
                        Age Group
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-b">
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        Toddler Training 
                      </td>
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        1.5 to 2 Years
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="border-b">
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        Playgroup
                      </td>
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        2 Years
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="border-b">
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        Nursery
                      </td>
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        3 Years
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="border-b">
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        LKG
                      </td>
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        4 Years
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="border-b">
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        UKG
                      </td>
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        5 Years
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="border-b">
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        Daycare
                      </td>
                      <td style="color: #625ef1;" class="text-[15px] font-semibold lg:text-base text-gray-900 px-6 py-4 whitespace-nowrap">
                        2 to 10 Years
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class='text-lg font-bold sm:text-xl md:text-2xl text-left lg:text-2xl'>
          THE ADMISSION PROCESS
        </h2>
        <div class="mt-1">
          The following is the process for parents seeking admission for their children at Ping Pong Learning Centre.
        </div>
        <div class="mt-2">
          <h2 style="color: #625ef1; font-family: Bubblegum Sans, sans-serif;" class='text-lg font-bold sm:text-xl md:text-2xl text-left lg:text-2xl'>
            OPTION 1 : ONLINE
          </h2>
          <div class="mt-2">
            Fill out the enquiry form below on this page.
          </div>
          <div class="mt-1">
            Our Admission Officer will contact you and guide you with the next steps.
          </div>
          <div style="border-color: #EDF1FC;" class="border-[2px] rounded-[15px] py-5 mt-3">
            <h2 style="color: #ff236c; font-family: Bubblegum Sans, sans-serif;" class="text-xl md:text-[22px] lg:text-3xl text-center">ADMISSION ENQUIRY</h2>
            <form class="px-10" action="/admission-enquiry" method="post">
              <div class="grid gap-6 mb-6 lg:grid-cols-2 mt-6">
                <div>
                    <label for="cnam" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Full Name of Child <sup class="text-red-500 text-sm md:text-base">*</sup></label>
                    <input style="outline-color: #ff236c;" type="text" id="cnam" name="childName" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Child's Full Name">
                    <div id="cnam-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Child Name is required</div>
                </div>
                <div>
                    <label for="cdob" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Child's Date of Birth <sup class="text-red-500 text-sm md:text-base">*</sup></label>
                    <input style="outline-color: #ff236c;" type="date" id="cdob" name="childDateOfBirth" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Child's Date of Birth">
                    <div id="cdob-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Child Date of Birth is required</div>
                </div>
                <div>
                  <label for="pnam" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Parent Name <sup class="text-red-500 text-sm md:text-base">*</sup></label>
                  <input style="outline-color: #ff236c;" type="text" id="pnam" name="parentName" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Parent's Name">
                  <div id="pnam-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Parent Name is required</div>
                </div>
                <div>
                  <label for="occup" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Occupation <sup class="text-red-500 text-sm md:text-base">*</sup></label>
                  <input style="outline-color: #ff236c;" type="text" id="occup" name="parentOccupation" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Parent's Occupation">
                  <div id="occup-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Parent Occupation is required</div>
                </div>
                <div>
                  <label for="contNo" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Contact Number <sup class="text-red-500 text-sm md:text-base">*</sup></label>
                  <input style="outline-color: #ff236c;" type="number" id="contNo" name="parentContactNumber" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Parent Contact Number">
                  <div id="contNo-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Contact Number is required</div>
                  <div id="contNo-format" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Invalid Contact Number</div>
                  <div id="contNo-start" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Contact Number should not start with 0</div>
                </div>
                <div>
                    <label for="emailIdemailId" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Email <sup class="text-red-500 text-sm md:text-base">*</sup></label>
                    <input style="outline-color: #ff236c;" type="text" id="emailId" name="email" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Email">
                    <div id="emailId-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Email is required</div>
                    <div id="emailId-format" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Invalid Email</div>
                </div>  
              </div>
              <div class="mb-6">
                  <label for="address" class="block mb-2 text-sm md:text-base font-medium text-gray-900">Address <sup class="text-red-500 text-sm md:text-base">*</sup></label>
                  <textarea style="outline-color: #ff236c;" name="address" id="address" cols="30" rows="5" class="text-sm md:text-base bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5" placeholder="Full Address"></textarea>
                  <div id="address-req" class="text-sm md:text-base text-red-600 mt-[2px]" style="display: none;">Address is required</div>
              </div>
              <button style="background-color: #ff236c;" class="my-submit-button text-white px-3 py-1 rounded-md text-sm md:text-base" id="admissionEnquiry" type="submit">Submit</button>
              <button style="background-color: #ff236c;" class="my-submit-button text-white px-3 py-1 rounded-md text-sm md:text-base" type="reset">Reset</button>
            </form>
          </div>
        </div>
        <div class="mt-5">
          <h2 style="color: #625ef1; font-family: Bubblegum Sans, sans-serif;" class='text-lg font-bold sm:text-xl md:text-2xl text-left lg:text-2xl'>
            OPTION 2 : WALK-IN
          </h2>
          <div class="mt-2">
            If you would like to walk in for a face-to-face meeting :
          </div>
          <ul class="mt-2 list-disc ml-3">
            <li>Contact the Admissions Team at <a style="color: #ff236c;" href="tel:+91 7249999934" class="hover:underline">+91 7249999934</a> between 8:00 AM – 2:00 PM between Monday to Saturday to book an appointment or you can also fill out our <button style="color: #ff236c;" data-bs-toggle="modal" data-bs-target="#modal" class="hover:underline cursor-pointer">Book a Visit</button> form and visit our centre.</li>
            <li>Fill out the Admission Enquiry form available at the office</li>
            <li>Our Admission Officer will be happy to clarify all your queries and doubts, if any.</li>
            <li>The Admission Officer will inform you of the parent and child interaction date and time.</li>
          </ul>
          <div class="mt-2">
            For more details, please feel free to contact us at <a style="color: #ff236c;" href="tel:+91 7249999934" class="hover:underline">+91 7249999934</a> or write to us at <a style="color: #ff236c;" href="mailto:pingponghwr@gmail.com" class="hover:underline">pingponghwr@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  -->
  <%- include('Layouts/footer.ejs') %>

  <!--  -->
  <%- include('Layouts/whatsapp.ejs') %>

  <!--  -->
  <%- include('Layouts/toTop.ejs') %>

  <script>
    // 
    document.getElementById('admission').classList.remove('hover:border-b-[4px]')
    document.getElementById('admission').style.borderBottomWidth="4px"

    // 
    function ValidateEmail(mail) 
      {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
        {
          return (true)
        }
          return (false)
      }
      document.getElementById('admissionEnquiry').addEventListener('click',(event)=>{

          if(document.getElementById('cnam').value.length==0){
              document.getElementById('cnam-req').style.display='block'
              event.preventDefault()
          }
          else if(document.getElementById('cnam').value.length!=0){
              document.getElementById('cnam-req').style.display='none'
          }

          if(document.getElementById('cdob').value.length==0){
              document.getElementById('cdob-req').style.display='block'
              event.preventDefault()
          }
          else if(document.getElementById('cdob').value.length!=0){
              document.getElementById('cdob-req').style.display='none'
          }

          if(document.getElementById('pnam').value.length==0){
              document.getElementById('pnam-req').style.display='block'
              event.preventDefault()
          }
          else if(document.getElementById('pnam').value.length!=0){
              document.getElementById('pnam-req').style.display='none'
          }
          
          if(document.getElementById('occup').value.length==0){
              document.getElementById('occup-req').style.display='block'
              event.preventDefault()
          }
          else if(document.getElementById('occup').value.length!=0){
              document.getElementById('occup-req').style.display='none'
          }

          if(document.getElementById('contNo').value.length==0){
              document.getElementById('contNo-req').style.display='block'
              document.getElementById('contNo-format').style.display='none'
              document.getElementById('contNo-start').style.display='none'
              event.preventDefault()
          }
          else if(document.getElementById('contNo').value.length!=0){
              if(document.getElementById('contNo').value[0]=='0'){
                  document.getElementById('contNo-req').style.display='none'
                  document.getElementById('contNo-format').style.display='none'
                  document.getElementById('contNo-start').style.display='block'
                  event.preventDefault()
              }
              else{
                  if(document.getElementById('contNo').value.length==10){
                      document.getElementById('contNo-req').style.display='none'
                      document.getElementById('contNo-format').style.display='none'
                      document.getElementById('contNo-start').style.display='none'
                  }
                  else{
                      document.getElementById('contNo-req').style.display='none'
                      document.getElementById('contNo-format').style.display='block'
                      document.getElementById('contNo-start').style.display='none'
                      event.preventDefault()
                  }
              }
          }

          if(document.getElementById('emailId').value.length==0){
              document.getElementById('emailId-req').style.display='block'
              event.preventDefault()
          }
          else if(document.getElementById('emailId').value.length!=0){
              if(ValidateEmail(document.getElementById('emailId').value)){
                  document.getElementById('emailId-req').style.display='none'
                  document.getElementById('emailId-format').style.display='none'
              }
              else{
                  document.getElementById('emailId-req').style.display='none'
                  document.getElementById('emailId-format').style.display='block'
                  event.preventDefault()
              }
          }

          if(document.getElementById('address').value.length==0){
              document.getElementById('address-req').style.display='block'
              event.preventDefault()
          }
          else if(document.getElementById('address').value.length!=0){
              document.getElementById('address-req').style.display='none'
          }
      })

      // 
      if(document.getElementById('addmissionEnquiryFilledAlert')){
        Swal.fire({
          template: '#addmissionEnquiryFilledAlert'
        })
      }
  </script>